*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --font-color:blanchedalmond;
    --font-alternative:sandybrown;
    --ikon:rgb(14, 14, 14);
    --orange:rgb(251, 121, 0);
    --violet:rgb(154, 36, 170);
    --blue:rgb(0, 104, 200);
    --green:rgb(0, 160, 74);
    --before:rgba(0, 29, 23, 0.6); 
    --before-light:rgba(0, 69, 83, 0.644);
    --before-darker:rgba(12, 8, 8, 0.4);
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing:0.1rem;
    line-height: 1.5;
    color:var(--font-color);
}
/* główny container */
.pop-up{
    height:100vh;
    width:100vw;
     position:fixed;
     background:var(--ikon);
     top:0;
     left:0;
     z-index:10;
     opacity:0.95;
     visibility:hidden;
     display:flex;
     transition:all, 2s;
 }
  .pop-up:target{
     opacity:0.95;
     visibility:visible;
     transition:all, 2s; 
 } 

 /* container na treść */
  .pop-up-content, .pop-up-content1{
    width:75vw;
    height:65vh;
    background:var(--font-color);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:var(--font-color);
    
}
 .pop-up-content::before{
    content:"";
    background:url("../img/island.jpg") no-repeat center center/cover;
    width:100%;
    height:100%;
    position:absolute;  
    z-index: -1;
    opacity:0.3;  
 }
 .pop-up-content1::before{
    content:"";
    background-image: radial-gradient(#fff 10%, transparent 10%),
	radial-gradient(#fff 10%, transparent 10%);
	background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    width:100%;
    height:100%;
    position:absolute;  
    z-index: -1;
    opacity:0.2;  
 }
 .rules1::after{
    content:"";
    background:var(--before-darker);
    color:white;
    width:100%;
    height:100%;
    position:absolute;  
    z-index:0;
    opacity:0.9;  
 }
 .rules1 *{
     z-index:10;
 }

 .tresc{
    width:95%;
    height:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    flex-wrap:wrap;
    font-size: 1.2rem;

 }

 .tresc1{
    width:95%;
    height:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    flex-wrap:wrap;
    font-size: 1.2rem;

}   
.tresc1:before{
    content:"";
    background:url("../img/ship.jpg") no-repeat center center/cover;
    width:100%;
    height:100%;
    position:absolute;  
    z-index: -1;
    opacity:0.9; 
}

.cel-niebieski{
    background-color:var(--blue);
} 

.cel-pomaranczowy{
    background-color:var(--orange);
}
.cel-zielony{
    background-color: var(--green);
}
.cel-fioletowy{
    background-color: var(--violet);
}
/* treść */

.pop-up-icon{
    color:var(--ikon);
    font-size:1.5rem;
}
.rules i:hover{
    stop-color:var(--font);

}
.rules{
    width:49%;
    height:auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;
    padding:30px;
    flex-wrap: wrap;
    overflow: auto;
    color:var(--ikon);
}
.rules-img{
    width:70%;
    height:auto;
    margin:10px;
    box-shadow:  0px 0px 50px 10px var(--font-color); 
}

.rules1{
    width:75%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;
    padding:30px;
    font-size:1.7rem;
    color:var(--font-color);
    flex-wrap: wrap;
    overflow: auto;
}

/* ikona zamykająca */
.pop-up-close{
    position:fixed;
    right:1rem;
    top:1rem;
    color:var(--ikon);
    background:var(--font-color);
    border-radius: 50%;
    transition:all,0.5s;
    margin:5px;
    padding:5px 8px;
}
.pop-up-close:hover{
    color:var(--font-color);
    background:var(--ikon);
    transition:1s;
}

.pop-up-close:target{
    transition:all,3s;
    visibility: hidden;
}

/* instrukcja */
.pop-up p{
    font-size:1.2rem;
}
.przyklad{
    width:95%;
    height:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-sizing:border-box;
    padding:20px;
    flex-wrap: wrap;
    overflow: auto;
    color:var(--ikon);
    
}
.przyklad1{
    max-width:100%;
    display:flex; 
    justify-content:space-around; 
    flex:1 1 auto;
}

.zespol{
    display:flex;
    flex-direction:column;
    margin:10px 30px;
}
.zespol h3{
    display:block;
}
.p{
    width:50%;
    margin-left:20px;  
}
.p span{
   font-size:1.6rem;
   font-weight: 600; 
}
.fa-arrow-right{
    position:fixed;
    right:1rem;
    top:50%;
    color:var(--before-light);
    padding:5px;
}
.fa-arrow-right:hover{
    color:var(--font-alternative);
    transition: 1s;
}
.tura{
    width:95%;
    height:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:var(--ikon);
    padding:20px; 
}
.tura div{
    margin:5px;
    padding:5px;
}
.rewerse{
    display:flex;
}
.row{
    display:flex;
    flex-direction: column;
}
.karta{
    display:flex;
}
.cover{
    width:40%;
    height:auto;
    margin:5px;
}



 

 
